@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: #000;

}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}


body {

    width: 100%;
    background: #e5e5e5;

}

button {
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    background: #ffffff;
    margin: auto;
}


/* header css start */

.header-article {
    background: url(Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    padding: 1rem;
    width: 100%;
    position: absolute;
    top: 0;
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav ul li a {
    color: #344563;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    transition: all 0.3s ease;

}

nav ul li a:hover {
    color: #36B37E;

}

/* header css end */




/* home  section css start */

.home {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}


.home h1 {
    color: #172B4D;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}


.home h1 span {
    color: #36B37E;
}


.home p {
    width: 50%;
    color: #172B4D;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.home-i {
    display: flex;
    gap: 20px;
}


.home-i i {
    font-size: 30px;
    transition: all 0.2s ease;
}



.home-i i:hover {
    color: #36B37E;
}

.home-i i:active {
    color: #000;
}

.home-bottom {
    margin-left: 25px;
}

.home-bottom i {
    padding: 20px 20px;
    border-radius: 50%;
    margin-top: 10px;
    font-size: 25px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid gray;
    transition: all 0.3s ease;

}



.home-bottom i:hover {
    color: #36B37E;
}

.home-bottom i:active {
    color: #000;
}


/* home css section end */



/* Recent  css section start */


.recent {
    padding: 7vw 10%;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.recent > h1 {
    color: #172B4D;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}




.projects {
    width: 100%;
    margin-top: 3.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}

.project {
    padding-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D0D9D4;
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project-img {
    width: 100%;
    aspect-ratio: 4 / 2;
    overflow: hidden;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    width: 80%;
    color: #172B4D;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}



.project-tools {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.project-tools span {
    padding: 8px 12px;
    display: inline-block;
    border-radius: 5px;
    color: #172B4D;
    background: #e7e3e3;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

}

.card-btn {
    padding: 12px;
    border-radius: 5px;
    background: #36B37E;
    transition: all 0.2s ease;

    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
}

.card-btn:hover {
    background: #20d389;
}

.card-btn:active {
    background: #36B37E;
}

/* Recent css section end */



/* about css section start */

.about {
    width: 100%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 48px;
}

.about-left-img {
    position: absolute;
    top: 20%;
    left: 0;
}

.about-right-img {
    position: absolute;
    right: 0;
    top: 0;
}

.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.about-title {
    color: #172B4D;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.about-subtitle {
    width: 60%;
    color: #42526E;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.about-btn {
    padding: 12px;
    border-radius: 5px;
    background: #36B37E;
    color: white;
    font-size: 17px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}


.about-btn:hover {
    background: #20d389;
}

.about-btn:active {
    background: #36B37E;
}

/* about css section end */


/* about css card section start */


.about-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.about-card {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background: #EBF0EE;
    border: 1px solid #D0D9D4;
    border-radius: 5px;
}

.about-card-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-card h3 {
    color: #344563;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.about-card-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.about-card-btns span {
    padding: 12px;
    background: #fff;
    color: #36B37E;
    border-radius: 8px;
    transition: all 0.3s ease;

    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.36px;
}

/* about css cards section end */


/*contact css section start */

.contact {
    padding: 100px 135px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.contact-text {
    width: 50%;
}

.contact-text h3 {
    color: #172B4D;
    font-size: 2rem;
    font-weight: 700;
    line-height: 52px;
}


form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form .fullName {
    display: flex;
    gap: 24px;
}

form .fullName input {
    width: 50%;
    padding: 15px 16px;
    font-size: 15px;
    border: 1px solid #D0D9D4;
}

form > input {
    width: 100%;
    padding: 15px 16px;
}

form > textarea {
    width: 100%;
    padding: 12px 12px;
    color: #42526E;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #36B37E;
}


form > button {
    padding: 12px 12px;
    border-radius: 5px;
    background: #36B37E;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    width: fit-content;
}

form > button:hover {
    background: #20d389;
}

form > button:active {
    background: #36B37E;
    color: white;
}

.contact {
    position: relative;
}


.contact-imgs {
    position: absolute;
    left: 0;
    top: 70%;
}


.contact-img {
    position: absolute;
    left: 20%;
    top: 100%;
}

.contact-img-to {
    position: absolute;
    right: 0;
    top: 40%;
}

/*contact css section end */



/* footer css section start */

.footer {
    margin-top: 15%;
}

.footer-i {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.footer-i i {
    transition: all 0.2s ease;
}

.footer-i i:hover {
    color: #36B37E;
}

.footer-i i:active {
    color: #000;
}


/* footer css section end */


/* media css start */


@media (max-width:1200px) {
    /* home section media start */
    .home p {
        width: 70%;
    }
    /* home section media end */
    
    
    /* about section media start */





    .about-subtitle {
        width: 70%;
    }

    /* about section media end */
    
        
    /* contact section media start */

    .contact-text {
        width: 70%;

    }
    /* contact section media end */

}





@media (max-width: 992px) {

    /* home section media start */
    .home h1 {
        font-size: 2.6rem;
    }
    /* home section media end */

    /* recent section media start */
   
    .recent {
        padding: 7vw 5%;
    }
    .projects {
        grid-template-columns: 1fr 1fr;
    }

    /* recent section media end */

     
    /* about section media start */
    
    .about-left-img {
        display: none;
    }
    
    .about-right-img {
        display: none;
    }

    .about-subtitle {
        width: 80%;
    }

        
    .about-cards {
        grid-template-columns: 1fr 1fr ;
    }

    /* about section media end */

    /* contact section media start */

    
    .contact {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-text {
        width: 90%;
    }

    form {
        width: 100%;
    }

    .contact-imgs,
    .contact-img,
    .contact-img-to {

        display: none;

    }

   
    /* contact section media end */


}



@media  (max-width: 768px) {
    /* home section media start */
    .home h1 {
        font-size: 2.4rem;
    }
    .home p {
        width: 80%;
        font-size: 1.2rem;
    }
    /* home section media end */

     /* recent section media start */
   
     .project-title {
        width: 90%;
        font-size: 1.2rem;
    }
    .project-tools {
        padding: 5px;
    }
    .project-tools span {
        padding: 5px;
    }
    .card-btn {
        padding: 5px 10px;
        font-size: 1rem;
    }

    /* recent section media end */

    
    /* about section media start */

    .about-subtitle {
        width: 90%;
    }

    /* about section media end */

    /* contact section media start */

    .contact-text {
        width: 100%;
    }
    /* contact section media end */

}






@media  (max-width: 576px) {
    /* home section media start */
    .home h1 {
        width: 90%;
        font-size: 2rem;
    }
    .home p {
        width: 90%;
        font-size: 1rem;
    }
    /* home section media end */

    /* recent section media start */
   
    .projects {
        grid-template-columns: 1fr;
    }

    /* recent section media end */


    .about-subtitle {
        width: 100%;
    }

       
    .about-cards {
        grid-template-columns: 1fr;
    }

    /* about section media end */

    /* contact section media start */

    .contact-text {
        width: 100%;
    }

    form {
        width: 100%;

    }
    /* contact section media end */

}






@media  (max-width: 420px) {
    /* home section media start */
    .home h1 {
        font-size: 1.6rem;
    }
    .home p {
        width: 90%;
    }
    /* home section media end */



}


/* media css end */